<div class="heading d-flex ">
  <div class="app_name text-bold">
    <h1 class="m-4 ">Blog App</h1>
    <h2 class="m-4">Microverse</h2>
  </div>
  <div class="add-article">
    <%= link_to("Create New Article", new_article_path, :class => "btn btn-success", :role=>"button") %>
  </div>
</div>