<h1 class="new_article_heading text-center">New Article</h1>
<div class="heading d-flex ">
<img class="mt-3" src="/micro2.jpg" width="125px" height="130px" alt="author_image">
<div class="app_name text-bold">
<h1 class="m-4 ">Blog App</h1>
<h2 class="m-4">Microverse</h2>
</div>

<div class = "redict_form">
<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>
</div>