// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome";

.heading {
  background-image: url('/background.png');
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 20px;
}

.app_name {
  color: #fff;
  font-style: italic;
  font-family: 'Courier New', monospace;
}

.btn-success{
  color: #fff !important;
}

.img-center,
.add-article{
  align-self: center;
}

.like-dislike {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #eee;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.like {
  color: #008bf7;
}

.dislike {
  color: #f75232;
}
